.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: black;
  opacity: 0.6;
}

.navigation h3 {
  font-size: 25px;
  color: white;
}
.navigation NavLink {
  text-decoration: none;
}
