.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  height: 100vh;
}

h1,
h3,
p {
  margin-left: 10px;
  color: white;
}
img {
  object-fit: cover;
}

.item1,
.item2 {
  text-align: center;
  background-color: black;
  width: 100%;
}

button {
  background-color: black;
  border: none;
  color: firebrick;
  margin-bottom: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  color: rgb(224, 221, 221);
}

@media screen and (min-width: 1024px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: 100vh;
  }
  .tem2 {
    height: 100%;
  }

  h1 {
    text-align: center;
  }
}
