.footer {
  color: rgb(244, 238, 238);
  background-color: black;
  opacity: 0.7;
  padding: 20px;
  font-size: 15px;
}

.footer h3 {
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .footer div {
    text-align: center;
    font-size: 20px;
    width: 100%;
  }

  .footer h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer div {
    text-align: center;
    font-size: 25px;
    width: 100%;
  }

  .footer h3 {
    font-size: 25px;
  }

  .footer {
    margin-top: 0.5px;
    opacity: unset;
  }
}
