.roles {
  color: rgb(244, 238, 238);
  background-color: black;
  opacity: 0.6;
  width: 100%;
  padding: 5px 4px;
}

.roles ul {
  list-style-type: none;
  padding-left: 3px;
}

.roles h2,
h3,
p {
  letter-spacing: 0.1rem;
}
